ENVIRONMENT=dev
PORT=8080
QDRANT_URL=http://localhost:6333
TEI_URL=http://localhost:8081
COLLECTION_NAME=demo_collection
AWS_SQS_STAGE_2_URL=http://localhost:9324/000000000000/stage-2-indexing
AWS_ENDPOINT_URL=http://localhost:9324
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=mock
AWS_SECRET_ACCESS_KEY=mock
