ENVIRONMENT=dev

# API
PORT=8080

# Qdrant configuration
QDRANT_IMAGE=qdrant/qdrant:v1.18.0
QDRANT_REST_PORT=6333
QDRANT_GRPC_PORT=6334
QDRANT_URL=http://localhost:6333
COLLECTION_NAME=demo_collection
DENSE_VECTORS_NAME=text-dense
SPARSE_VECTORS_NAME=text-sparse

# TEI Configuration
TEI_IMAGE=ghcr.io/huggingface/text-embeddings-inference:cpu-arm64-sha-5bc4d88
TEI_PORT=8081
TEI_MODEL_ID=BAAI/bge-small-en-v1.5
TEI_MODEL_REVISION=main
EMBEDDING_MODEL_TEI_URL=http://localhost:8081

# AWS / SQS configuration
AWS_SQS_STAGE_1_URL=https://sqs.eu-central-1.amazonaws.com/790348267926/simple-rag-stage-1-parsing
AWS_SQS_STAGE_2_URL=https://sqs.eu-central-1.amazonaws.com/790348267926/simple-rag-stage-2-indexing
AWS_DEFAULT_REGION=eu-central-1
AWS_REGION=eu-central-1
AWS_BEDROCK_REGION=us-east-1
AWS_PROFILE=developer

# Chunker Settings
CHUNKER_CONTINUOUS_POLL=true
CHUNKER_DEBUG_DIR=/app/debug

# Indexer Settings
INDEXER_EMBEDDING_MODEL_TEI_URL=http://tei-embeddings:80
INDEXER_QDRANT_HOST=qdrant
INDEXER_QDRANT_PORT=6333
INDEXER_CONTINUOUS_POLL=true

# LLM Synthesis Config (mock or bedrock)
LLM_PROVIDER=bedrock
MODEL_ID=us.meta.llama3-1-8b-instruct-v1:0
